.cabecalho{
  background-color:rgb( rgb 24, 168, 224);
  color: aqua;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  paga
}
 
.conteudo-principal-texto{
   background-color: rgb(32, 3, 36);
   color:rgb(238, 24, 24)



}

.imagem-principal {
    width: 350px;
    height: 100px;

}